<header class="main-header">
    <a href="/">
    <div class="main-header-top-bar">
        <div class="logo">
            <img src="./img/pinpng.com-evangelion-logo-png-5252667.png" height="100" width="100" class="icon">
            <a class="icon-text">Koari Comic Store</a>
        </div>
        <div class="icons-header">
            <a href= "login" class="fas fa-sign-in-alt">login</a>
            <a href= "register" class="fas fa-cart-plus">register</a>
            <br>
            <h6>(URLs temporales para redireccionar)</h6>
        </div>
    </a>
    </div>
</header>