<header class="main-header">
    <div class="main-header-top-bar">
        <div class="logo">
            <img src="./img/pinpng.com-evangelion-logo-png-5252667.png" height="100" width="100" class="icon">
            <h2 class="icon-text">Koari Comic Store</h2>
        </div>
        <div class="icons-header">
            <a href= "#login" class="fas fa-sign-in-alt"></a>
            <a class="fas fa-cart-plus"></a>
        </div>
    </div>
</header>