*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}

.main-formulario-alta-producto {
    display: flex;
    width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    
}

body{
    background-image: url("/img/pngwing.com (2).png");
    color: rgb(20, 12, 12);
    font-family: 'Bebas Neue', cursive;
    background-color:plum;
}

.text-danger{
 color: red;
}

.main-header{
    font-family: 'Bangers', cursive;
    font-size: 25 px;
    color: rgb(66, 116, 172);
    background-color: rgb(197, 220, 226);
    padding: 10px;
    height: 8rem;}