.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor ul{
    list-style: none;
}

.contenedor ul li{
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    float: left;
    transition: all 0.5s ease;
    font-size: 20px;
}

.contenedor ul li:hover .fa-facebook{
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.contenedor ul li:hover .fa-instagram{
    color:#bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.contenedor ul li:hover .fa-google{
    color: #dd4b39;
    text-shadow: 0 0 15px  #dd4b39;
    transition: all 0.5s ease;
}

.contenedor ul li:hover .fa-whatsapp{
    color: #4dc247;
    text-shadow: 0 0 15px  #4dc247;
    transition: all 0.5s ease;
}

.footer-mensaje{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
    margin-top: 8px;
    text-align: center;
}