* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.producto {
   height: inherit;
   width: 310px;
}

.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

p{
    padding: 10px;
    font-family: 'Bangers', cursive;
    font-size: 18px;
}

body{
    background-image: url("/img/backcomic.jpg");
    color: white;
    font-family: 'Bangers', cursive;
    background-size: cover;
}

.descripcion{
    border: solid 1px white;
    margin-left: 40px;
}

.detalle{
    font-size: 21px;
}