*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}
.main-header-top-bar{
    display: flex;
    flex-direction:row;
    padding: 0 40px;
    justify-content: space-between
}
.botton-bodyyy{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vw;
}

.logo{
    display: flex;
    justify-content: space-around;
    flex-direction:row;
}

.icons-header{
    font-size:30px;
}
.icon-text{
    padding: 40px 20px;
}

.main-header{
    font-family: 'Indie Flower', cursive;
    color: aliceblue;
    background-color: navajowhite;
    padding: 30px;
    border: solid 3px yellow;
}
.titulo{
    display: flex; 
    justify-content: center;
    margin-top: auto;
    padding: 30px;
}
.buscador{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.top-body{
    font-family: 'Indie Flower', cursive;
    color: aliceblue;
    background-image: url("/img/pexels-dayvison-tadeu-4142511.jpg");
    background-size: cover;
    background-position: center;
    border: solid 3px olive;
    padding: 30px
}
.pie{
    background-color: palegoldenrod;
    padding: 90px;
}

.control {
    width: 100%;
    padding: 8px;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.formulario-alta {
    display: flex;
    width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.titulo-alta{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.main-formulario{
    background-image: url("/img/pexels-erik-mclean-7809123.jpg");
    font-size: 20px;
    font-weight: bolder;
    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
    background-size: cover;
    background-position: center;
    padding: 90px
}

.boton-formulario{
    border-radius: 5px;
    margin: 50px;
    padding: 5px 10px;
}

.pais{
    margin: 20px;
}

