*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}
.main-header-top-bar{
    display: flex;
    flex-direction:row;
    padding: 0 40px;
    justify-content: space-between;
<<<<<<< HEAD
    align-items: center;

>>>>>>> 0a9906e9c6874e932e58db579828b28cbe2a86f7
}
.botton-bodyyy{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vw;
}
.botton-body{
    width: 100%;
    overflow: hidden;
}

.botton-body ul{
    display: flex;
    justify-content: center;
    animation: cambio 20s infinite alternate linear;
}

.botton-body li{
    width: 100%;
    list-style: none;
}

/*
.botton-body img{
    width: 100%;
    height: 100%;
}*/

@keyframes cambio {
    0%{margin-left: 0%;}
    20% {margin-left: 0%;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.logo{
    display: flex;
    position: absolute;
    right: 50vw;
}

.icons-header{
    position: absolute;
    right: 10vw;
    justify-content: flex-end;
    padding: 30px;
    font-size: 30px;
}
.icon-text{

    padding: 40px 20px;
    font-family: "bangers";
}

.main-header{
    background-color: aquamarine;
    padding: 30px;
    border: solid 3px yellow;
}
.titulo{
    display: flex; 
    justify-content: center;
    margin-top: auto;
    padding: 20px;

  

.main-header{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: rgb(66, 116, 172);
    background-color: rgb(197, 220, 226);
    padding: 10px;
    height: 8rem;
>>>>>>> 0a9906e9c6874e932e58db579828b28cbe2a86f7
}

.buscador{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    opacity: none;
    justify-content: center;
    font-size: 20px;
    padding: 30px;
}
.top-body{
    font-family: 'Special Elite', cursive;
    font-size: x-large;
    color: #de9393;
    background-image: url("/img/pexels-dayvison-tadeu-4142511.jpg");
    background-size: cover;
    background-position: center;
    padding: 150px
}

.transbox {
    position: absolute;
    z-index: 1;
    right: 25vw;
    top: 140px;
    margin: 40px;
    background-color: #ffffff;
    opacity: 0.6;
    color: #000000;
    padding: 40px;
  }

  .titulo{
    opacity: none;
    position: relative;
  }

.pie{
    background-color: palegoldenrod;
    padding: 90px;
}

.control {
    width: 100%;
    padding: 8px;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.formulario-alta {
    display: flex;
    width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.titulo-alta{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.main-formulario{
    background-image: url("/img/pexels-erik-mclean-7809123.jpg");
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    background-size: cover;
    background-position: center;
}

.boton-formulario{
    border-radius: 5px;
    margin: 50px;
    padding: 5px 10px;
}

.pais{
    margin: 20px;
    border: 30px;
}











.imgprod{
    display: flex;
    position:relative;
    justify-content: center;
    height: 250px;
    
}

.descripcion{
    font-family : Arial;
    display: flex;
    position:relative;
    left:320px;
    top:150px;
}
.precio{
    font-family : Arial;
    display: flex;
    position:relative;
    left:600px;
    top:0px;
    font-size:40px

}
.comprar{
    font-family : Arial;
    display: flex;
    position:relative;
    left:600px;
    top: -165px;
    font-size:30px

}

.segui{
    font-family : Arial;
    display: flex;
    position:relative;
    left:800px;
    top: 10px;
    font-size:30px

}

.td-comics{
    background-color: white;
}