*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;

}

.contenedor{
    width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    color: #a62e2e;
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 18px; 
    font-weight: 100;
    
}

.profile-picture{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}