* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("../../img/backreg.jpg");
  background-position: 85% -2%;
  font-family: 'Bangers', cursive;
}

.formulario-login .login-form {
  text-align: center;
  margin-left: 80px;
  width: 60%;
}

.formulario-login .login-form div input {
  margin: 14px 0;
  width: 40%;
  height: 35px;
}

.enter {
  color: white;
  margin-top: 40px;
  font-size: 40px;
  font-family: "Bangers";
  border-radius: 8px;
}

.text-login2 {
  color: black;
  font-family: "Bangers", cursive;
  width: 750px;
}

.text-login {
  font-family: "Bangers", cursive;
  color: white;
}

.button-enviar .text-login {
  background-color: black;
  border: 0;
  margin-top: 20px;
  font-size: 25px;
}

.error {
  font-family: "Bangers", cursive;
  color: white;
}

::placeholder {
  font-family: "Bangers", cursive;
  color: black;
  text-align: center;
}

.text-login-remember-me {
  font-family: "Bangers", cursive;
  color: white;
  font-weight: 500;
}

.text01{
    font-family: "Bangers", cursive;
    color: white; 
}

.form-control{
    color: white;
   align-items: center;
}

.formulario-login{
    width: 100%;
}

.imagen-class {
    position: relative;
    left: 43px;
}

input{
    text-align: center;
}