<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/not-found.css">
    <title>¡ups 404!</title>
</head>
<body>
    <div class="contenedorA">
        <img src="/img/not-found/not-found.png">
        <div class="contenedorB">
            <h2>¡Rayos y centellas Batman! </h2>
            <h2>Error 404: parents not found</h2> 
            <h5>Talvez Alfred quiere que <a href="./">vuelvas al inicio</a></h5>
        </div>
    </div>
</body>
</html>