<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0f8081e82.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/stylescart.css">
    <title>Product Cart</title>
</head>
<body>
    <%- include('./partials/header')%>
        <main>
            <div class="carro">
                <h4>Carro de compras</h4>
            </div>
            <div class="contenedor1cart">
                <img src="./img/zona84d.jpg" class="producto">
                <h4 class="estado">Producto: Zona 84 N 63</h4>
                <h4 class="estado">Ano: 1990</h4>
                <h4 class="estado">Editorial: Grijalbo</h4>
                <h4 class="estado">Origen:Espana</h4>
                <h4 class="estado">Etado:MB</h4>
                <h4 class="estado">Precio: $500</h4>
                <h4 class="estado">Subtotal: $500</h4>
            </div>
            <a href="#" class="vaciar">Vaciar Carro</a>
            <a href="#" class="comprar">Comprar!</a>

            <a href="productDetail.html" class="segui">Segui Comprando!</a>
        </main>
</body>

</html>