<div class="carousel">
    <ul>
        <li><img src="./img/carousel/1.jpg" alt=""></li>
        <li><img src="./img/carousel/2.jpg" alt=""></li>
        <li><img src="./img/carousel/3.jpg" alt=""></li>
        <li><img src="./img/carousel/4.jpg" alt=""></li>
        <li><img src="./img/carousel/5.jpg" alt=""></li>
        <li><img src="./img/carousel/6.jpg" alt=""></li>
        <li><img src="./img/carousel/7.jpg" alt=""></li>
        <li><img src="./img/carousel/8.jpg" alt=""></li>
        <li><img src="./img/carousel/9.jpg" alt=""></li>
        <li><img src="./img/carousel/10.jpg" alt=""></li>
        <li><img src="./img/carousel/11.jpg" alt=""></li>
        <li><img src="./img/carousel/12.jpg" alt=""></li>
        <li><img src="./img/carousel/13.jpg" alt=""></li>
        <li><img src="./img/carousel/14.jpg" alt=""></li>
        <li><img src="./img/carousel/15.jpg" alt=""></li>
        <li><img src="./img/carousel/16.jpg" alt=""></li>
        <li><img src="./img/carousel/17.jpg" alt=""></li>
        <li><img src="./img/carousel/18.jpg" alt=""></li>
        <li><img src="./img/carousel/19.jpg" alt=""></li>
        <li><img src="./img/carousel/20.jpg" alt=""></li>
        <li><img src="./img/carousel/21.jpg" alt=""></li>
        <li><img src="./img/carousel/22.jpg" alt=""></li>
        <li><img src="./img/carousel/23.jpg" alt=""></li>
        <li><img src="./img/carousel/24.jpg" alt=""></li>
        <li><img src="./img/carousel/25.jpg" alt=""></li>
        <li><img src="./img/carousel/26.jpg" alt=""></li>
        <li><img src="./img/carousel/27.jpg" alt=""></li>
        <li><img src="./img/carousel/28.jpg" alt=""></li>
        <li><img src="./img/carousel/29.jpg" alt=""></li>
        <li><img src="./img/carousel/30.jpg" alt=""></li>
    </ul>
</div>