<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%> 
    <link rel="stylesheet" href="/css/partials/footer.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<footer>
    
    <section class="footer-mensaje">
        <p>¿No lo tenemos? ¡Lo conseguimos!<br> Escribimos que somos especialistas en<br> conseguir esa cosa que estás
            buscando.</p><br>
        <p>Tenemos financiación: consultanos por<br> cuotas sin interés y por<br> el Programa Ahora 12 y 18.</p><br>
        <p>¿Vivis en La Quiaca o en Ushuaia?<br> ¡No te preocupes! Nuestros envíos<br> llegan y cuentan con código de
            trackeo </p>
    </section>
    <div class="black"></div>
    <div class="contenedor">
        <ul>
            <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100074131875141" target="_blank"><i
                        class="fa fa-facebook fa-2x" aria-hidden="true"></i></li></a>
            <li class="instagram"><a href="https://www.instagram.com/koaricomicstore/" target="_blank"><i
                        class="fa fa-instagram fa-2x" aria-hidden="true"></i></li></a>
            <li class="google"><a href="mailto: koaricomicstore@gmail.com"><i class="fa fa-google fa-2x"
                        aria-hidden="true"></i></li></a>
            <li class="whatsapp"><a href="https://wa.me/5491158038449" target="_blank"><i class="fa fa-whatsapp fa-2x"
                        aria-hidden="true"></i></li></a>
        </ul>
    </div>
    <div class="lastfooter">
        <p class="class">© 2021 GRUPO 5, A DIGITAL HOUSE COMPANY. ALL RIGHTS RESERVED.</p>
        <span><img src="./img/DHcoding.jpg" class="dhfoto"></span>
    </div>
</footer>


    