<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%> 
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<header>
    <div class="main-header">
        <div class="center-test">
            <div class="logo-y-nombre">
                <a href="/"><img src="../../img/pinpng.com-evangelion-logo-png-5252667.png" class="icon"></a>
                <p class="text-header">Koari Comic Store</p>
                <p class="text-header-sub">A great power comes with a great responsibility - Uncle Ben</p>
            </div>
        </div>
    </div>
    <div class="second-bar">
        <ul class="navbar">
            <% if (locals.isLogged) { %>
                <div class="pic-plus-name">
                    <li><a href="/user/profile" class="far fa-user"> <img src="../<%= locals.userLogged.avatar%>" class="avatar-img"></a></li>
                    <li><a href="/user/profile" class="far fa-user"> Hi <%= locals.userLogged.nombre%></a></li>
                </div>
                <li><a href="/product/productList" class="fas fa-shopping-basket"> En Stock</a></li>
                <% if (locals.userLogged.idUserCategory === 1) { %>
                    <li><a href="/product/createProduct" class="fas fa-shopping-basket"> Crear Producto</a></li>
                    <% } %>
                <li><a href="/user/logout" class="fas fa-sign-out-alt"> Logout</a></li>
                <% } else { %>
                    <li><a href="/user/login" class="fas fa-sign-in-alt"> Ingresá</a></li>
                    <li><a href="/product/productList" class="fas fa-shopping-basket"> En Stock</a></li>
                    <li><a href="/user/register" class="fas fa-cart-plus"> Creá tu cuenta</a></li>
                    <% } %>
        </ul>
    </div>
</header>

