<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<header class="main-header">
   
        <div class="logo-y-nombre">
            <img src="./img/pinpng.com-evangelion-logo-png-5252667.png" class="icon">
            <a class="icon-text">Koari Comic Store</a>
        </div>

        <p class="spidi">A great power comes with a great responsibility - Uncle Ben</p>

        <div class="barra-de-busqueda">
            <input class="barra-busqueda" type="text" placeholder="Todos los comics  y mangas en un solo lugar..">
            <button type="submit" class="boton-busqueda">Buscar</button>
        </div> 
        
        <ul class="navbar">
                <li><a href="/login" class="fas fa-sign-in-alt">   Ingresá</a></li>
                <li><a href="/register" class="fas fa-cart-plus">   Creá tu cuenta</a></li>
                <li><a href="/productCart" class="fas fa-shopping-basket">   Mis compras</a></li>
        </ul> 
    
</header>