<article>
    <a href="./productDetail/<%= product.id %>"><img src="../../../<%= product.imagen %>"  class="producto" ></a>
    <ul class="hello">
        <li class="texto1"><%= product.nombre %></li>
        <div class="ver">
            <li class="texto">$<%= product.precio %></li>
            <li><i class="fas fa-shopping-cart"></i></li>
        </div>
    </ul>
</article>