*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}

.main-formulario-alta-producto {
	max-width: 100%;
	padding: 25px;
	margin: 1% auto 0;
	position: relative;
	z-index: 1;
    width: 625px;
    margin-top: 70px;
}

h3{
    text-align: center;
}

body{
    background-image: url("/img/pexels-dayvison-tadeu-4142511.jpg");
    color: rgb(20, 12, 12);
    font-family: 'Bangers', cursive;
    background-size: cover;
}

.row{
    padding: 2px;
    display: flex;
    flex-direction: row;
}

label{
    position: relative;
    top: 3px;
    text-align: center;
    width: 25%;
}

.barra{
    width: 450px;
}

.barra-imagen{
    width: 450px;
    text-align: center;
    position: relative;
    left: 45px;
}

.text-danger{
 color: red;
}

.botonera{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}