.carousel{
    display: none;
}

@media (min-width: 1330px) {
  .carousel {
    width: 1482px;
    margin: auto;
    overflow: hidden;
    display: block;
  }

  .carousel ul {
    margin-top: 20px;
  }

  .carousel ul {
    padding: 5px;
    display: flex;
    width: 395%;
    animation: cambio 25s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
  }

  .carousel li {
    list-style: none;
    padding: 0;
  }

  .carousel img {
    max-width: 211px;
    height: 100%;
  }

  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }
}
