*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}

.main-header{
    font-family: 'Bangers', cursive;
    background-color: rgb(197, 220, 226);
    padding: 15px;
    height: 6.5rem;
    margin: 0 auto;
}

.logo-y-nombre{
    display: flex;
    flex-direction: row; 
    color:black;
    
    align-items: center;
    justify-content: space-around;
    align-self: center;
}

.text-header{
    font-size: 25px;
    font-family: 'Bangers', cursive;
}

.second-bar{
    background-color: rgb(153, 234, 255);
    border-top:1 black 1px;
    height: 2rem;
}

.center-test{
    position: absolute;
    
    align-self: center;
}

.icon{
    transform: scaleX(-1);
    height: 100px;
}

.navbar{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
}

.navbar a{
    font-family: 'Bangers', cursive;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 450;
}

.navbar li{
    list-style: none;
}

.avatar-img{
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 5px;
    border-radius: 50%;
}

.pic-plus-name{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (min-width: 768px){
    .main-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .navbar{
        font-size: 20px;
    }

    li{
        padding: 5px;
    }
    .barra-de-busqueda .spidi{
        display: none;
    }
}
    
@media (min-width: 1200px){
    .main-header{
        display: flex;
        justify-content: unset;
    }
}

@media (min-width: 1330px) {
    
    }
