<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%> 
    <link rel="stylesheet" href="../css/user/login.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <title>Login</title>
</head>
    <%- include('../partials/header')%>
    <div class="formulario-login">
        <form action="./login" method="POST" class="login-form">
            <h3 class="enter">Login</h3>
            <div>
                <input type="text" required placeholder="Correo electrónico" name="email" class="text-login2" style="width: 340px;">
                <% if (locals.errors && errors.email) { %>
                    <p class="error">
                        <%= errors.email.msg %>
                    </p>
                    <% } %>
                        <span class="feedback"></span>
            </div>
            <div>
                <input type="password" required placeholder="Contraseña" name="password" class="text-login2" style="width: 340px;">
                <span class="feedback"></span>
            </div>
            <label class="remember-me">
                <input type="checkbox" name="remember"><strong class="text-login-remember-me"> Recordar Usuario</strong>
            </label>
            <div class="button-enviar">
                <button type="submit" class="text-login">Enviar</button>
            </div>
        </form>
    </div>
</html>