<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0f8081e82.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rampart+One&family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo">
                <img src="./img/pinpng.com-evangelion-logo-png-5252667.png" height="100" width="100" class="icon">
                <h2 class="icon-text">La tienda del nerd</h2>
            </div>
   
            <div class="icons-header">
                <i class="fas fa-sign-in-alt"></i>
                <i class="fas fa-cart-plus"></i>
            </div>
        </div>
    </header>
    <main>
        <div class="body">
            <div class="top-body">
            <div class="transbox">
                <h2 class="titulo">Bienvenidos a nuestra tienda!</h2>
                <div class="buscador">
                <input type="text" placeholder="Buscar productos, marcas">
                <select name="categorias">
                    <option value="seleccione">Categorias</option>
                    <option value="comic">Comic</option>
                    <option value="anime">Anime</option>
                    <option value="funco">Funco</option>
                </select>
                </div>
            </div>
            </div>
            <div class="botton-body">
                <ul>
                    <li>
                        <img src="./img/pexels-daria-sannikova-5266499.jpg" alt="">
                    </li>
                    <li>
                        <img src="./img/pexels-erik-mclean-7768663.jpg" alt="">
                    </li>
                    <li>
                        <img src="./img/pexels-erik-mclean-7768661.jpg" alt="">
                    </li>
            </ul>
            </div>
        </div>

    </main>
    <footer class="pie">
        <div class="footer">
            <H5>Hola!, somos:</H5>
        </div>
        <div>
            <p>Guille: Vengo del campo audiovisual, tengo conocimiento de la historia y de las estructuras narrativas de la mayoría de medios, formatos y géneros.Manejo herramientas de edición y postproducción. Soy operador de cámara y video. Futuro Desarrollador</p>
        </div>
        <div>
            <p>Lu: 34 años, QA y buscadora de bugs compulsiva, curiosa de lenguajes de programacion, y un poco gamer, puedo resolver un cubo rubik 2x2, y en proceso de aprender a sacar el 3x3.</p>
        </div>
        <div>
            <p>Nico: 31, polítologo especializado en politícas de transparencia institucional. Empecé a programar del lado del cliente, ahora saltando del otro lado del mostrador. En tiempos libres: escucho vinilos, leo comics americanos, juego age of empires II y runner</p>
        </div>
    </footer>
</body>

</html>