<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0f8081e82.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo">
                <img src="./img/pexels-pixabay-264905.jpg" height="100" width="100">
                <h2>Lorem ipsum dolor sit amet</h2>
            </div>
            <div class="icons-header">
                <i class="fas fa-sign-in-alt"></i>
                <i class="fas fa-cart-plus"></i>
            </div>
        </div>
    </header>
    <main>
        <div class="body">
            <div class="top-body">
                <h2 class="titulo">Bienvenidos a nuestra tienda!</h2>
                <div class="buscador">
                <input type="text" value="Buscar productos, marcas">
                <select name="categorias">
                    <option value="comic">Comic</option>
                    <option value="anime">Anime</option>
                    <option value="funco">Funco</option>
                </select>
                </div>
            </div>
            <div class="botton-body">
                <img src="./img/pexels-wallace-chuck-3744195.jpg" height="400" width="650">
            </div>
        </div>

    </main>
    <footer class="pie">
        <div class="footer">
            <H5>QUIENES SOMOS, ETC</H5>
        </div>
    </footer>
</body>

</html>