<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="formulario-login">
        <form action="#" method="get" class="login-form">

            <div>
                <input type="text" required placeholder="Nombre de Usuario" name="Nombredeusuario">
            </div>

            <div>
                <input type="password" required placeholder="Contraseña" name="Contraseña"> 
            </div>

            <div class="button-enviar">
                <button type="submit"><a href="/">Enviar</a></button>
            </div>


        </form>
    </div>
</main>
</body>
</html>