<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0f8081e82.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rampart+One&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/loginstyles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title>Document</title>

</head>
<body>
 
        </div>
        <header class="main-header">
            <div class="main-header-top-bar">
                <div class="logo">
                    <img src="./img/pinpng.com-evangelion-logo-png-5252667.png" height="100" width="100" class="icon">
                    
            </div>
            <h2 class="icon-text">La tienda del Nerd</h2>
               
        </header>
        <h4 class="enter">Login</h4>
    </header>
    <div class="formulario-login">
        <form action="#" method="get" class="login-form">

            <div>
                <input type="text" required placeholder="Nombre de Usuario" name="Nombredeusuario">
                <span class="feedback"></span>
            </div>

            <div>
                <input type="password" required placeholder="Contraseña" name="Contraseña"> 
                <span class="feedback"></span>
            </div>

            <div class="button-enviar">
                <button type="submit"><a href="/">Enviar</a></button>
            </div>


        </form>
    </div>
</main>
</body>
</html>