<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0f8081e82.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rampart+One&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/stylescart.css">
    <title>Product Details</title>
</head>
<body>
   
   
   
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo">
                <img src="./img/pinpng.com-evangelion-logo-png-5252667.png" height="100" width="100" class="icon">
                <h2 class="icon-text">La tienda del nerd</h2>
            </div>
        </div>
    </header>
    
          
    
    
    <main>
        <table class="contenedor2cart">
            <tr class=contenedor3cart>
                <td>Foto</td>
                <td>Fecha de publicación</td>
                <td>Autor</td>
                <td>Comentario</td>
                <td>Escritor</td>
                <td>Dibujante</td>
            </tr>    

            <tr class=contenedor3cart>
                <td><img src="./img/zona84.jpg" class ="producto"></td>
                <td>07/01/2005</td>
                <td>Alex Ross</td>
                <td>Primera aparición Batman</td>
                <td>Geoff Johns</td>
                <td>Carlos Pachecho</td>
            </tr> 

            <tr class=contenedor3cart>
                <td><img src="./img/zona84a.jpg" class ="producto"></td>
                <td>07/01/2005</td>
                <td>Alex Ross</td>
                <td>Primera aparición Batman</td>
                <td>Geoff Johns</td>
                <td>Carlos Pachecho</td>
            </tr> 

            <tr class=contenedor3cart>
                <td><img src="./img/zona84b.jpg" class ="producto"></td>
                <td>07/01/2005</td>
                <td>Alex Ross</td>
                <td>Primera aparición Batman</td>
                <td>Geoff Johns</td>
                <td>Carlos Pachecho</td>
            </tr> 

            <tr class=contenedor3cart>
                <td><img src="./img/zona84c.jpg" class ="producto"></td>
                <td>07/01/2005</td>
                <td>Alex Ross</td>
                <td>Primera aparición Batman</td>
                <td>Geoff Johns</td>
                <td>Carlos Pachecho</td>
            </tr> 

            <tr class=contenedor3cart>
                <td><img src="./img/zona84d.jpg" class ="producto"></td>
                <td>07/01/2005</td>
                <td>Alex Ross</td>
                <td>Primera aparición Batman</td>
                <td>Geoff Johns</td>
                <td>Carlos Pachecho</td>
            </tr> 
        </tabless=>




    </main>
  
  
  
  
  
  
  
  
  
  
    <footer></footer>
</body>
</html>