<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0f8081e82.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylescart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    
    <title>Product Cart</title>





</head>
<header class="main-header">
    <div class="main-header-top-bar">
        <div class="logo">
            <img src="./img/dc7c05f0d9b6c3ff86303b1150490ea3.jpg" height="100" width="100" class="icon">
            <h2 class="icon-text">Koari Comic Store
                
            </h2>
        </div>
       
    </div>
</header>
</header>
<body>
    <div class="carro">
        <h4>Carro de compras</h4>
    </div>
    <div class="contenedor1cart">
        <img src="./img/zona84.jpg"  class="producto">
        <h4 class="estado">Producto: Zona 84 N 63</h4>
        <h4 class="estado">Ano: 1990</h4>
        <h4 class="estado">Editorial: Grijalbo</h4>
        <h4 class="estado">Origen:Espana</h4>
        <h4 class="estado">Etado:MB</h4>
        <h4 class="estado">Precio: $500</h4>
        <h4 class="estado">Subtotal: $500</h4>
    </div>
    <a href="#" class ="vaciar">Vaciar Carro</a>
    <a href="#" class ="comprar">Comprar!</a>
   
    <a href="#" class ="segui">Segui Comprando!</a>
    >
    
 
    
    
   
      

<body>
    <footer class="pie">
        <div class="footer">
            <H5>Hola!, somos:</H5>
        </div>
        <div>
            <p>Guille: Vengo del campo audiovisual, tengo conocimiento de la historia y de las estructuras narrativas de la mayoría de medios, formatos y géneros.Manejo herramientas de edición y postproducción. Soy operador de cámara y video. Futuro Desarrollador</p>
        </div>
        <div>
            <p>Lu: 34 años, QA y buscadora de bugs compulsiva, curiosa de lenguajes de programacion, y un poco gamer, puedo resolver un cubo rubik 2x2, y en proceso de aprender a sacar el 3x3.</p>
        </div>
        <div>
            <p>Nico: 31, polítologo especializado en politícas de transparencia institucional. Empecé a programar del lado del cliente, ahora saltando del otro lado del mostrador. En tiempos libres: escucho vinilos, leo comics americanos, juego age of empires II y runner</p>
        </div>
    </footer>
    <main>
 