<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0f8081e82.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Product Cart</title>





</head>
<body>
   
        </div>

<body>
    <main>
  <div> 
<article class="imgprod">
    <img src="./img/zona84.jpg"  class="producto">
    
</article>
<article class = "descripcion">
<p>Clasica Historieta Espnola anos 80'</p>


</article>
<article class="precio"> 
    <p>$500</p>
</article>
<button class="comprar"> Comprar</button>
<button class="segui"> Segui Hojeando</button>
    </main>
    
</body>
</html>