<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0f8081e82.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Product Cart</title>





</head>
<header class="main-header">
    <div class="main-header-top-bar">
        <div class="logo">
            <img src="./img/dc7c05f0d9b6c3ff86303b1150490ea3.jpg" height="100" width="100" class="icon">
            <h2 class="icon-text">Tan Geek que duele</h2>
        </div>
        <div class="icons-header">
            <i class="fas fa-sign-in-alt"></i>
            <i class="fas fa-cart-plus"></i>
        </div>
    </div>
</header>
<body>
    <article class="imgprod">
        <img src="./img/zona84.jpg"  class="producto">
        
    </article>
    
   
        </div>

<body>
    <main>
 